@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
.chat-message-area {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.img-crop {
  border-radius: 100%;
  /* border: 1px solid red; */
  margin-top: -2px;
}


.custom-navbar {
  background-color: white;
  /* border: 1px solid red; */
  /* height: 15vh; */
}

.navbar-brand {
  font-family: "Caveat", cursive;
  font-size: 30px;
}
/* 
div{
  border:1px solid red;
} */

.call-icon {
  /* border:1px solid red; */
  padding: 5px;
  height: 40px;
}

.call-icon svg {
  /* border:1px solid blue; */
  margin: 0px;
}

.send-button {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin-left: 5px;
}

.send-button .icon {
  /* border: 1px solid red; */
  /* position: relative;
  top:50%; */
  line-height: 40px;
}

.chat-text-container {
  /* position: absolute;
  bottom: 0;
  right: 0; */
  /* border:1px solid red; */
  /* width:100%; */
  /* border: 1px solid blue; */
}

.chat-message-area {
  /* border: 1px solid green; */
  overflow-y: scroll;
}

.chat-navbar {
  /* border: 1px solid red; */
  height: 8vh;
  -webkit-box-shadow: 0px 10px 31px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 31px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 31px -19px rgba(0, 0, 0, 0.75);
}

.chat-area-container {
  /* border:1px solid blue; */
  /* height:85vh; */
  /* height:100%; */
  /* overflow-y: scroll; */
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  /* border: 1px solid red; */
}

.nav .nav-tabs .nav-items {
}

.tab-pane {
  height: 75vh;
  overflow-y: scroll;
  width: 100%;
}

.chat-bubble-container {
  max-width: 50%;
}

.chat-bubble {
  /* border:1px solid grey; */
  border-radius: 5px;
  padding: 7px;
  word-break: break-all;
}

span {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

#search-input {
  transform: translateX(100%);
  opacity: 0;
  transition: opacity 0.25s, transform 0.25s;
}

#search-input.show {
  transform: translateX(0);
  opacity: 1;
}

.search-button:hover {
  /* border:1px solid red; */
  transform: scale(1.4);
  cursor: pointer;
  transition-duration: 0.25s;
}

@media only screen and (min-width: 768px) {
  .App {
    width: 75%;
    margin: 0 auto;
  }

  .chat-message-area,
  .chat-text-container {
    width: 50%;
    margin: 0 auto;
  }
}
